<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/attraction/style.css">

</head>
<body class="wrap">
    <nav class="navigation">
        <div class="container">
            <h1 class="logo"><a href="/">台北一日遊</a></h1>
            <ul>
                <li><a href="/booking">預定行程</a></li>
                <li class="signIn_signUp_btn">登入/註冊</li>
                <li class="logOutBtn">登出系統</li>
            </ul>
        </div>
    </nav>

    <div class="form_container">
        <div class="signIn">
            <div class="decbar"></div>
            <div class="close"><img src="../static/img/icon_close.png" alt=""></div>
            <h3 class="title">登入會員帳號</h3>
            <input type="text" name="email" id="signInEmail" placeholder="輸入電子信箱">
            <input type="password" name="password" id="signInPassword" placeholder="輸入密碼">
            <div class="signInMessage"></div>
            <div class="signInSubmitBtn">登入帳號</div>
            <div class="switch">還沒有帳戶？點此註冊</div>
        </div>
    
        <div class="signUp">
            <div class="decbar"></div>
            <div class="close"><img src="../static/img/icon_close.png" alt=""></div>
            <h3 class="title">註冊會員帳號</h3>
            <input type="text" name="name" id="signUpName" placeholder="輸入姓名">
            <input type="email" name="email" id="signUpEmail" placeholder="輸入電子郵件">
            <input type="password" name="password" id="signUpPassword" placeholder="輸入密碼">
            <div class="signUpMessage"></div>
            <div class="signUpSubmitBtn">註冊新帳戶</div>
            <div class="switch">已經有帳戶了？點此登入</div>
        </div>
    </div>

    <section class="attraction">
        <div class="container">
            <div class="slideshow-container">

                <!-- Next and previous -->
                <a class="prev" ><img src="/static/img/btn_leftArrow.png" alt=""></a>
                <a class="next" ><img src="/static/img/btn_rightArrow.png" alt=""></a>

                <!-- dots -->
                <div class="dots"></div>
            </div>
            
            <div class="profile">
                <h3 class="name"></h3>
                <p class="text1"><span class="category"></span> at <span class="mrt"></span></p>
                <div class="book_form">
                    <p class="title">訂購導覽行程</p>
                    <p class="text2 pt-15">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="pt-15">
                        <label class="title ">選擇日期：
                            <input type="date" name="date" id="date">
                        </label>
                    </div>
                    <div class="pt-15">
                        <label class="">
                            <span class="title">選擇時間：</span> 
                            <input type="radio" name="time" id="time" value="morning">上半天
                            <input type="radio" name="time" id="time" value="afternoon">下半天
                        </label>
                    </div>
                    <p class="pt-15">
                        <span class="title">導覽費用：</span>
                        <span class="">新台幣 <span class="price">2000</span> 元</span>
                    </p>
                    <div class="book_btn mt-20">開始預訂行程</div>
                    <div class="bookingMessage pt-15"></div>
                </div>
            </div>
        </div>

        <hr>
        <section class="infros">            
            <p class="description"></p>
            <p class="title">景點地址：</p>
            <p class="address"></p>
            <p class="title">交通方式：</p>
            <p class="transport"></p>
        </section>
    </section>

    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <script src="/static/attraction/index.js"></script>
</body>
</html>