<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/booking/style.css">

</head>
<body class="wrap">

    <!-- LOADING -->
    <div class="svg-loader">
        <svg class="svg-container" height="50" width="50" viewBox="0 0 50 50">
            <circle class="loader-svg" 
                cx="25" 
                cy="25" 
                r="20" 
                fill="transparent" 
                stroke="#666666" 
                stroke-width="5"   
                transform="rotate(-90 25 25)";>
            </circle>
        </svg>
    </div>

    <!-- ALERT -->
    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
        </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="navigation">
        <div class="container">
            <h1 class="logo"><a href="/">台北一日遊</a></h1>
            <ul>
                <li class="booking">預定行程</li>
                <li class="signIn_signUp_btn">登入/註冊</li>
                <li class="logOutBtn">登出系統</li>
            </ul>
        </div>
    </nav>

    <!-- LOGIN_FORM -->
    <div class="form_container">
        <div class="signIn">
            <div class="decbar"></div>
            <div class="close"><img src="../static/img/icon_close.png" alt=""></div>
            <h3 class="title">登入會員帳號</h3>
            <input type="text" name="email" id="signInEmail" placeholder="輸入電子信箱">
            <input type="password" name="password" id="signInPassword" placeholder="輸入密碼">
            <div class="signInMessage"></div>
            <div class="signInSubmitBtn">登入帳號</div>
            <div class="switch">還沒有帳戶？點此註冊</div>
        </div>
    
        <div class="signUp">
            <div class="decbar"></div>
            <div class="close"><img src="../static/img/icon_close.png" alt=""></div>
            <h3 class="title">註冊會員帳號</h3>
            <input type="text" name="name" id="signUpName" placeholder="輸入姓名">
            <input type="email" name="email" id="signUpEmail" placeholder="輸入電子郵件">
            <input type="password" name="password" id="signUpPassword" placeholder="輸入密碼">
            <div class="signUpMessage"></div>
            <div class="signUpSubmitBtn">註冊新帳戶</div>
            <div class="switch">已經有帳戶了？點此登入</div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="headline text-lg secondary-color font-bold">
        您好，<span class="user_name1"></span>，待預訂的行程如下：
    </div>

    <div class="info_container">

        <section class="info">
            <div class="picture">
                <img class="image" src="" alt="">
            </div>
            <div class="content">
                <h3 class="primary-color text-base font-bold pt-5 pb-5">台北一日遊：<span class="name"></span></h3>
                <div class="secondary-color pt-15"><span class="font-bold">日期：</span><span class="date"></span></div>
                <div class="secondary-color pt-15"><span class="font-bold">時間：</span><span class="time"></span></div>
                <div class="secondary-color pt-15"><span class="font-bold">費用：</span>新台幣 <span class="price"></span> 元</div>
                <div class="secondary-color pt-15"><span class="font-bold">地點：</span><span class="address"></span></div>
            </div>
            <div class="icon">
                <img class="delete" src="../static/img/icon_delete.png" alt="">
            </div>
        </section>

        <hr>

        <section class="contact secondary-color">
            <p class="font-bold text-lg pt-5 pb-5">您的聯絡資訊</p>     
            <div class="pt-15">
                <label class="">聯絡姓名：
                    <input type="text" name="user_name2" id="name" required>
                </label>
            </div>   
            <div class="pt-15">
                <label class="">連絡信箱：
                    <input type="email" name="user_email" id="email" required>
                </label>
            </div>
            <div class="pt-15">
                <label class="">手機號碼：
                    <input type="text" name="user_phone" id="phone">
                </label>
            </div>
            <p class="font-bold pt-20">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
        </section>
    
        <hr>

        <section class="payment secondary-color">            
            <p class="font-bold text-lg pt-5 pb-5">信用卡付款資訊</p>
            <div class="pt-15 flex items-center">
                <label class="">卡片號碼：</label>
                <div class="tpfield" id="card-number"></div>
            </div>
            <div class="pt-15 flex items-center">
                <label class="">過期時間：</label>
                <div class="tpfield" id="card-expiration-date"></div>
            </div>
            <div class="pt-15 flex items-center">
                <label class="">驗證密碼：</label>
                <div class="tpfield" id="card-ccv"></div>
            </div>
        </section>

        <hr>

        <section class="confirm secondary-color flex">
            <div class="font-bold">總價：新台幣 <span class="total_price">2000</span> 元</div>
            <button class="confirm_btn mx-25" type="submit">確認訂購並付款</button>
        </section>
    </div>

    <div class="emptystate_container">
        <p class="secondary-color">目前沒有任何待預訂的行程</p>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <!-- SCRIPT -->
    <script src="/static/booking/index.js"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.5.1"></script>
    <script src="/static/tappay.js"></script>
</body>
</html>